{
  "swagger": "2.0",
  "info": {
    "title": "Online Tutor",
    "description": "Api Docs",
    "version": "1.0.0"
  },
  "host": "online-tutor.skyraantech.com/server",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/check": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/upload": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/upload-multiple": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/auth/request-otp": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Request OTP",
        "description": "Send OTP to mobile(0->no check in DB || 1-> check DB)",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mobile": {
                  "type": "string",
                  "example": "9876543210"
                },
                "country_code": {
                  "type": "string",
                  "example": "+91"
                },
                "type": {
                  "type": "string",
                  "example": "0 or 1 or 2"
                },
                "email": {
                  "type": "string",
                  "example": "abc@gmail.com"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OTP sent successfully"
          },
          "400": {
            "description": "Invalid mobile number"
          }
        }
      }
    },
    "/api/auth/verify-otp": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Verify OTP",
        "description": "Verify OTP to mobile",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mobile": {
                  "type": "string",
                  "example": "9876543210"
                },
                "country_code": {
                  "type": "string",
                  "example": "+91"
                },
                "otp": {
                  "type": "string",
                  "example": "1234"
                },
                "email": {
                  "type": "string",
                  "example": "abc@gmail.com"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OTP verify successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/auth/signup": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Signup",
        "description": "Signup",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mobile": {
                  "type": "string",
                  "example": "9876543210"
                },
                "country_code": {
                  "type": "string",
                  "example": "+91"
                },
                "otp": {
                  "type": "string",
                  "example": "12345678"
                },
                "user_name": {
                  "type": "string",
                  "example": "kamalesh"
                },
                "password": {
                  "type": "string",
                  "example": "12345678"
                },
                "device_id": {
                  "type": "string",
                  "example": "abc_123"
                },
                "device_type": {
                  "type": "string",
                  "example": "ios"
                },
                "device_token": {
                  "type": "string",
                  "example": "xyz123"
                },
                "email": {
                  "type": "string",
                  "example": "abc@gmail.com"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OTP verify successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Login",
        "description": "Login with mobile number and password",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mobile": {
                  "type": "string",
                  "example": "9876543210"
                },
                "country_code": {
                  "type": "string",
                  "example": "+91"
                },
                "password": {
                  "type": "string",
                  "example": "12345678"
                },
                "device_id": {
                  "type": "string",
                  "example": "abc_123"
                },
                "device_type": {
                  "type": "string",
                  "example": "ios"
                },
                "device_token": {
                  "type": "string",
                  "example": "xyz123"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login successfull"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "reset password",
        "description": "Reset Pawword with user ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "country_code": {
                  "type": "string",
                  "example": "+91"
                },
                "mobile": {
                  "type": "string",
                  "example": "9876543210"
                },
                "new_password": {
                  "type": "string",
                  "example": "123456789"
                },
                "confirm_password": {
                  "type": "string",
                  "example": "123456789"
                },
                "user_id": {
                  "type": "string",
                  "example": "USER_59xhKU0B"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Logout",
        "description": "Logout with user ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string",
                  "example": "USER_7wbjv2wt"
                },
                "device_id": {
                  "type": "string",
                  "example": "abc123"
                },
                "device_token": {
                  "type": "string",
                  "example": "abc123"
                },
                "device_type": {
                  "type": "string",
                  "example": "ios"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/auth/reactive-account": {
      "post": {
        "tags": [
          "1.Auth"
        ],
        "summary": "Reactive Account",
        "description": "Reactive Account with user ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string",
                  "example": "USER_7wbjv2wt"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account Reactive successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/add-update-tutor": {
      "post": {
        "tags": [
          "2.User"
        ],
        "summary": "add-update tutor",
        "description": "add and update tutor",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_role": {
                  "type": "string",
                  "example": "tutor"
                },
                "user_id": {
                  "type": "string",
                  "example": "USER_7wbjv2wt"
                },
                "represent": {
                  "type": "string",
                  "example": "1"
                },
                "gender": {
                  "type": "string",
                  "example": "male"
                },
                "is_show_num": {
                  "type": "number",
                  "example": 1
                },
                "about_myself": {
                  "type": "string",
                  "example": "abcd efg hijk"
                },
                "country": {
                  "type": "string",
                  "example": "India"
                },
                "pincode": {
                  "type": "string",
                  "example": "624601"
                },
                "lat": {
                  "type": "string",
                  "example": "123.45"
                },
                "lng": {
                  "type": "string",
                  "example": "123.455"
                },
                "state": {
                  "type": "string",
                  "example": "tamilnadu"
                },
                "district": {
                  "type": "string",
                  "example": "dindigul"
                },
                "address": {
                  "type": "string",
                  "example": "abcd street, palani"
                },
                "area": {
                  "type": "string",
                  "example": "abcd"
                },
                "stream_id": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "add or update tutor successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/add-update-student": {
      "post": {
        "tags": [
          "2.User"
        ],
        "summary": "add or update student data",
        "description": "Add Or Update Student Data",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_role": {
                  "type": "string",
                  "example": "student"
                },
                "user_id": {
                  "type": "string",
                  "example": "USER_LDsMp-Dsm"
                },
                "dob": {
                  "type": "string",
                  "example": "2002-03-15"
                },
                "gender": {
                  "type": "string",
                  "example": "male"
                },
                "country": {
                  "type": "string",
                  "example": "India"
                },
                "pincode": {
                  "type": "string",
                  "example": "624601"
                },
                "state": {
                  "type": "string",
                  "example": "Tamilnadu"
                },
                "lat": {
                  "type": "string",
                  "example": "12.4566"
                },
                "lng": {
                  "type": "string",
                  "example": "10.56"
                },
                "district": {
                  "type": "string",
                  "example": "CBE"
                },
                "area": {
                  "type": "string",
                  "example": "RSpuram"
                },
                "is_show_num": {
                  "type": "number",
                  "example": 1
                },
                "stream_id": {
                  "type": "string",
                  "example": "1"
                },
                "learn_course_id": {
                  "type": "string",
                  "example": "1,2,3"
                },
                "learn_course": {
                  "type": "array",
                  "example": [
                    "Full Stack Development",
                    "java"
                  ],
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Add Or Update Student data successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/get-user-data": {
      "post": {
        "tags": [
          "2.User"
        ],
        "summary": "get user data",
        "description": "fetch user",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string",
                  "example": "USER_7wbjv2wt"
                },
                "mobile": {
                  "type": "string",
                  "example": "986543210"
                },
                "user_role": {
                  "type": "string",
                  "example": "student or tutor"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "fetch user data successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/approve-course-req": {
      "post": {
        "tags": [
          "2.User"
        ],
        "summary": "Approve Course Request ",
        "description": "Approve Course Request",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "request_id": {
                  "type": "string",
                  "example": "1"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "course request approved successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/profile/get-profiledata": {
      "post": {
        "tags": [
          "3.Profile"
        ],
        "summary": "get user data",
        "description": "fetch user",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string",
                  "example": "USER_7wbjv2wt"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "fetch user data successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/profile/add-update-userdata": {
      "post": {
        "tags": [
          "3.Profile"
        ],
        "summary": "add Update user data",
        "description": "Add and Update user",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string",
                  "example": "USER_7wbjv2wt"
                },
                "is_mob_verify": {
                  "type": "number",
                  "example": 1
                },
                "is_addmob_verify": {
                  "type": "number",
                  "example": 1
                },
                "is_mail_verify": {
                  "type": "number",
                  "example": 1
                },
                "user_name": {
                  "type": "string",
                  "example": "kamalesh"
                },
                "email": {
                  "type": "string",
                  "example": "skyraankamalesh@gmail.com"
                },
                "gender": {
                  "type": "string",
                  "example": "male or female or other"
                },
                "country_code": {
                  "type": "string",
                  "example": "+91"
                },
                "mobile": {
                  "type": "string",
                  "example": "9876543211"
                },
                "add_mobile": {
                  "type": "string",
                  "example": "9876543210"
                },
                "primary_num": {
                  "type": "string",
                  "example": "9876543211"
                },
                "country": {
                  "type": "string",
                  "example": "India"
                },
                "pincode": {
                  "type": "string",
                  "example": "624601"
                },
                "state": {
                  "type": "string",
                  "example": "Tamilnadu"
                },
                "district": {
                  "type": "string",
                  "example": "Dindigul"
                },
                "area": {
                  "type": "string",
                  "example": "gaandhimaanagar"
                },
                "address": {
                  "type": "string",
                  "example": "no.123/qwe"
                },
                "stream_id": {
                  "type": "string",
                  "example": "1"
                },
                "represent": {
                  "type": "string",
                  "example": "1 or 2 or 3"
                },
                "is_show_num": {
                  "type": "number",
                  "example": 1
                },
                "self_about": {
                  "type": "string",
                  "example": "abc def ghi"
                },
                "tutor_exp": {
                  "type": "string",
                  "example": "0 or 1"
                },
                "exp_year": {
                  "type": "string",
                  "example": "1"
                },
                "exp_month": {
                  "type": "string",
                  "example": "11"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "fetch user data successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/profile/change-primary": {
      "post": {
        "tags": [
          "3.Profile"
        ],
        "summary": "update Primary Number",
        "description": "Update Primary Number",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string",
                  "example": "USER_7wbjv2wt"
                },
                "new_primary_number": {
                  "type": "string",
                  "example": "9988776655"
                },
                "country_code": {
                  "type": "string",
                  "example": "+91"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile Image updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/profile/add-update-additional-number": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "add_mobile": {
                  "example": "any"
                },
                "user_id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/profile/check-old-password": {
      "post": {
        "tags": [
          "3.Profile"
        ],
        "summary": "Check Old Password",
        "description": "Find Old Password",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string",
                  "example": "USER_7wbjv2wt"
                },
                "old_password": {
                  "type": "string",
                  "example": "12345678"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password is correct"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/profile/update-profile": {
      "post": {
        "tags": [
          "3.Profile"
        ],
        "summary": "update Profile Image",
        "description": "Update Profile Image",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string",
                  "example": "USER_7wbjv2wt"
                },
                "profile_id": {
                  "type": "string",
                  "example": "1"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile Image updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/profile/change-register-num": {
      "post": {
        "tags": [
          "3.Profile"
        ],
        "summary": "update Register Number",
        "description": "Update Register Number",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string",
                  "example": "USER_7wbjv2wt"
                },
                "mobile": {
                  "type": "string",
                  "example": "9876543210"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Register Number updated successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/profile/get-delete-reasons": {
      "post": {
        "tags": [
          "3.Profile"
        ],
        "summary": "Get Delete Reasons",
        "description": "Fetch Delete Reasons",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch Delete Reasons successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/profile/remove-account": {
      "post": {
        "tags": [
          "3.Profile"
        ],
        "summary": "Account Remove",
        "description": "Account Remove tab",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "string",
                  "example": "USER_eFzOtN1M"
                },
                "reasons": {
                  "type": "string",
                  "example": "What this is ?"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account removed successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/edu/get-edu-level": {
      "post": {
        "tags": [
          "4.Education"
        ],
        "summary": "Get education level",
        "description": "Get Education level",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "name": {
                  "type": "string",
                  "example": "school level"
                },
                "status": {
                  "type": "string",
                  "example": "active"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Education Level fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/edu/get-streams": {
      "post": {
        "tags": [
          "4.Education"
        ],
        "summary": "Get education",
        "description": "Get streams",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "1"
                },
                "name": {
                  "type": "string",
                  "example": "B.E(CSE)"
                },
                "status": {
                  "type": "string",
                  "example": "active"
                },
                "edu_id": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "stream fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/subject/add-update-subject": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/subject/get-subjects": {
      "post": {
        "tags": [
          "5.Subject"
        ],
        "summary": "Get subjects",
        "description": "Get subject all or ID or active subjects",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "subject_name": {
                  "type": "string",
                  "example": "java"
                },
                "status": {
                  "type": "string",
                  "example": "active"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subject fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/subject/update-tutor-subjects": {
      "post": {
        "tags": [
          "5.Subject"
        ],
        "summary": "Add Update subjects to Tutor",
        "description": "Add and Update Subject to Tutor",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                },
                "subject_name": {
                  "type": "string",
                  "example": "java etc."
                },
                "subject_id": {
                  "type": "string",
                  "example": "1"
                },
                "covered_topics": {
                  "type": "array",
                  "example": [
                    "abcd , efgh "
                  ],
                  "items": {
                    "type": "string"
                  }
                },
                "sylabus": {
                  "type": "string",
                  "example": "1"
                },
                "prior_exp": {
                  "type": "string",
                  "example": "0 or 1"
                },
                "exp_year": {
                  "type": "string",
                  "example": "1"
                },
                "exp_month": {
                  "type": "string",
                  "example": "11"
                },
                "teach_language": {
                  "type": "string",
                  "example": "1,2,3,4"
                },
                "class_mode": {
                  "type": "string",
                  "example": "1 or 2 or 3"
                },
                "class_type": {
                  "type": "string",
                  "example": "1 or 2 or 3"
                },
                "stream_id": {
                  "type": "string",
                  "example": "1,2,3"
                },
                "min_fee": {
                  "type": "string",
                  "example": "120"
                },
                "max_fee": {
                  "type": "string",
                  "example": "1200"
                },
                "tenure_type": {
                  "type": "string",
                  "example": "hour"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subject added to tutor successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/subject/get-tutor-subjetcs": {
      "post": {
        "tags": [
          "5.Subject"
        ],
        "summary": "Get subjects belongs to tutor",
        "description": "Get subject all or based on ID",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subjects fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/subject/delete-tutor-subject": {
      "post": {
        "tags": [
          "5.Subject"
        ],
        "summary": "Remove subjects belongs to tutor",
        "description": "Remove subject based on ID (soft delete only)",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subjects removed successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/help/add-update-help-support": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/help/get-help-support": {
      "post": {
        "tags": [
          "6.Help & Support"
        ],
        "summary": "Get Help and Support List",
        "description": "Fetch paginated help and support tickets based on search, status and user role.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "search": {
                  "type": "string",
                  "example": "what to do"
                },
                "status": {
                  "type": "string",
                  "example": "active"
                },
                "page": {
                  "type": "number",
                  "example": 1
                },
                "user_id": {
                  "type": "string",
                  "example": "user_123"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Help and Support list fetched successfully"
          },
          "400": {
            "description": "Search term must be at least 3 characters"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/source/get-address-by-pincode": {
      "post": {
        "tags": [
          "7.Source"
        ],
        "summary": "Get Address By Pincode",
        "description": "Get address by pincode",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "pincode": {
                  "type": "string",
                  "example": "624601"
                },
                "icountry": {
                  "type": "string",
                  "example": "india"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/source/search-address": {
      "post": {
        "tags": [
          "7.Source"
        ],
        "summary": "Get datas By Address",
        "description": "Get datas by Address",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "example": "peelamedu"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/source/add-or-update-education": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/source/add-or-update-stream": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/source/get-streams": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "edu_id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/source/get-country": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "search": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/source/add-update-language": {
      "post": {
        "tags": [
          "7.Source"
        ],
        "summary": "Add Update Language",
        "description": "Add Language and Update language",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "lang_name": {
                  "type": "string",
                  "example": "Tamil"
                },
                "status": {
                  "type": "string",
                  "example": "active"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Add or Update language successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/source/get-languages": {
      "post": {
        "tags": [
          "7.Source"
        ],
        "summary": "Get Language",
        "description": "Get Language all or ID or active languages",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "lang_name": {
                  "type": "string",
                  "example": "Tamil"
                },
                "status": {
                  "type": "string",
                  "example": "active"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Language fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/tutor/add-update-demos": {
      "post": {
        "tags": [
          "8.Tutor"
        ],
        "summary": "Add Update Demo videos or Images",
        "description": "Add image and videos",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_onDXQ037"
                },
                "media_type": {
                  "type": "string",
                  "example": "image or video"
                },
                "media_id": {
                  "type": "string",
                  "example": "1"
                },
                "title": {
                  "type": "string",
                  "example": "Intro Video"
                },
                "thumbnail": {
                  "type": "string",
                  "example": "2"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/tutor/remove-demos": {
      "post": {
        "tags": [
          "8.Tutor"
        ],
        "summary": "Remove Demo videos or Images",
        "description": "Delete image and videos",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Demos deleted successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/tutor/get-demos": {
      "post": {
        "tags": [
          "8.Tutor"
        ],
        "summary": "get Demo videos or Images",
        "description": "Get image and videos",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_onDXQ037"
                },
                "media_type": {
                  "type": "string",
                  "example": "video or image"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Demos fetched successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/tutor/get-tutor-data": {
      "post": {
        "tags": [
          "8.Tutor"
        ],
        "summary": "get Tutor Data",
        "description": "Get Tutor",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_onDXQ037"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/tutor/get-tutor-byid": {
      "post": {
        "tags": [
          "8.Tutor"
        ],
        "summary": "Get Tutor data from tutor_id",
        "description": "Get Tutor data from tutor_id",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                },
                "search_subject": {
                  "type": "string",
                  "example": "abacus"
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_4Gy3VZ_N"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tutor Data Fetched successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/tutor/get-reviews-about-tutor": {
      "post": {
        "tags": [
          "8.Tutor"
        ],
        "summary": "Get Tutor",
        "description": "Get Tutor",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reviews Fetched successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/tutor/add-update-like-tutor": {
      "post": {
        "tags": [
          "8.Tutor"
        ],
        "summary": "Add Update Like Tutor",
        "description": "Add Update Like Tutor",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_7uwDAj0o"
                },
                "status": {
                  "type": "string",
                  "example": "0 or 1"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liked successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/tutor/get-likes-about": {
      "post": {
        "tags": [
          "8.Tutor"
        ],
        "summary": "Get Likes data",
        "description": "Get Likes data based on tutor_id or student_id",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_7uwDAj0o"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liked fetch successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/tutor/get-tutor-request": {
      "post": {
        "tags": [
          "8.Tutor"
        ],
        "summary": "Get Tutor",
        "description": "Get Tutor",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                },
                "page": {
                  "type": "number",
                  "example": 1
                },
                "status": {
                  "type": "string",
                  "example": "accepted or rejected or pending"
                },
                "subject_name": {
                  "type": "string",
                  "example": "Java"
                },
                "from_date": {
                  "type": "string",
                  "example": "2026-03-31"
                },
                "to_date": {
                  "type": "string",
                  "example": "2026-03-30"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tutor's Request fetched successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/tutor/accept-reject-request": {
      "post": {
        "tags": [
          "8.Tutor"
        ],
        "summary": "Accept or Reject Request",
        "description": "Accept Or Reject Request by tutor_id",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "req_id": {
                  "type": "number",
                  "example": 1
                },
                "status": {
                  "type": "string",
                  "example": "accepted or rejected"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Demos fetched successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/tutor/get-tutor-suggestion": {
      "post": {
        "tags": [
          "8.Tutor"
        ],
        "summary": "Get Tutor",
        "description": "Get Tutor",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tutor's suggestion fetched successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/tutor/update-view-status": {
      "post": {
        "tags": [
          "8.Tutor"
        ],
        "summary": "Update View Status",
        "description": "Update View Status for mobile view",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_4Gy3VZ"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tutor set Mobile View Status successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/student/nearby-tutors": {
      "post": {
        "tags": [
          "9.Student"
        ],
        "summary": "Get Near By Tutor",
        "description": "Get Tutor",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "lat": {
                  "type": "string",
                  "example": "12.45"
                },
                "lng": {
                  "type": "string",
                  "example": "10.46"
                },
                "search_address": {
                  "type": "string",
                  "example": "cbe"
                },
                "search_subject": {
                  "type": "string",
                  "example": "Java"
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_4Gy3VZ_N"
                },
                "gender": {
                  "type": "string",
                  "example": "male or female or others"
                },
                "represent": {
                  "type": "string",
                  "example": "1 or 2 or 3"
                },
                "min_fee": {
                  "type": "string",
                  "example": "120"
                },
                "max_fee": {
                  "type": "string",
                  "example": "1200"
                },
                "tenure_type": {
                  "type": "string",
                  "example": "hour or week or day"
                },
                "languages": {
                  "type": "array",
                  "example": [
                    "1",
                    "2",
                    "3"
                  ],
                  "items": {
                    "type": "string"
                  }
                },
                "class_mode": {
                  "type": "string",
                  "example": "1"
                },
                "class_type": {
                  "type": "string",
                  "example": "1"
                },
                "rating": {
                  "type": "string",
                  "example": "4"
                },
                "page": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tutor Data fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/student/get-student-data": {
      "post": {
        "tags": [
          "9.Student"
        ],
        "summary": "Get Student Data",
        "description": "Get Student data using student_id",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_2Ie159-E"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student Data fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/student/book-session": {
      "post": {
        "tags": [
          "9.Student"
        ],
        "summary": "Book a tutor",
        "description": "Book a tutor",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_4Gy3VZ_N"
                },
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                },
                "linked_sub": {
                  "type": "string",
                  "example": "1"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session Booked Successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/student/cencel-booking": {
      "post": {
        "tags": [
          "9.Student"
        ],
        "summary": "cancel a tutor",
        "description": "cancel a tutor",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "booking_id": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session cancelled Successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/student/get-book-session": {
      "post": {
        "tags": [
          "9.Student"
        ],
        "summary": "Get Status for Session",
        "description": "Get book session status",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "session_id": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session status Successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/student/get-fees": {
      "post": {
        "tags": [
          "9.Student"
        ],
        "summary": "Get Fees",
        "description": "Get Fees MIn and Max",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "subject_id": {
                  "type": "number",
                  "example": 1
                },
                "subject_name": {
                  "type": "string",
                  "example": "tamil"
                },
                "fee_type": {
                  "type": "string",
                  "example": "hour or week or day"
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_4Gy3VZ"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fees fetched Successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/student/student-view-tutorprofile": {
      "post": {
        "tags": [
          "9.Student"
        ],
        "summary": "Update Mobile View Profile",
        "description": "Update View Setup",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_4Gy3VZ_N"
                },
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liked Successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/student/get-booked-classes": {
      "post": {
        "tags": [
          "9.Student"
        ],
        "summary": "Get Booked classes",
        "description": "Booked class filter also update",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_4Gy3VZ_N"
                },
                "status": {
                  "type": "string",
                  "example": "pending or accepted or rejected"
                },
                "subject_name": {
                  "type": "string",
                  "example": "Tamil"
                },
                "page": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Classes Successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/student/student-suggestion": {
      "post": {
        "tags": [
          "9.Student"
        ],
        "summary": "Get Subject suggestion",
        "description": "Get Subject suggestion",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_4Gy3VZ_N"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Subject Successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/student/student-favs": {
      "post": {
        "tags": [
          "9.Student"
        ],
        "summary": "Get Favourites of student",
        "description": "Get Favourites of student",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_4Gy3VZ_N"
                },
                "page": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Favourites Successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/add-update-review": {
      "post": {
        "tags": [
          "10.review"
        ],
        "summary": "Add Update Review",
        "description": "Add Review and Update Review",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_4w4lwlu0"
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_UOFswA1y"
                },
                "rating": {
                  "type": "string",
                  "example": "5"
                },
                "review_text": {
                  "type": "string",
                  "example": "abcd efgh ijklmn opqrst"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Add or Update Review successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/get-reviews": {
      "post": {
        "tags": [
          "10.review"
        ],
        "summary": "Add Update Review",
        "description": "Add Review and Update Review",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_4w4lwlu0"
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_UOFswA1y"
                },
                "rating": {
                  "type": "string",
                  "example": "5"
                },
                "page": {
                  "type": "number",
                  "example": 1
                },
                "from_date": {
                  "type": "string",
                  "example": "2026-03-04"
                },
                "to_date": {
                  "type": "string",
                  "example": "2026-03-05"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Review Fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/reply-review": {
      "post": {
        "tags": [
          "10.review"
        ],
        "summary": "Add Update Review Reply",
        "description": "Add Review and Update Review Reply",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_4w4lwlu0"
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_UOFswA1y"
                },
                "reply_text": {
                  "type": "string",
                  "example": "abcd efgh ijklmn opqrst"
                },
                "review_id": {
                  "type": "string",
                  "example": "3"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Add or Update Review Reply successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/add-review-like": {
      "post": {
        "tags": [
          "10.review"
        ],
        "summary": "Add Update Review Like",
        "description": "Add Review Like and Update Review Like",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "review_id": {
                  "type": "string",
                  "example": "1"
                },
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_4w4lwlu0"
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_UOFswA1y"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Review Liked successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/remove-review": {
      "post": {
        "tags": [
          "10.review"
        ],
        "summary": "Delete Review",
        "description": "Remove Review based on student",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_UOFswA1y"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Review Deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/remove-review-reply": {
      "post": {
        "tags": [
          "10.review"
        ],
        "summary": "Delete Review reply",
        "description": "Remove Reviewreply based on tutor",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "example": 1
                },
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_4w4lwlu0"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Review reply Deleted successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/get-report-reasons": {
      "get": {
        "tags": [
          "10.review"
        ],
        "summary": "Get Report Reasons",
        "description": "Fetch Report Reasons From country.json",
        "responses": {
          "200": {
            "description": "Report Reasons fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/report-review": {
      "post": {
        "tags": [
          "10.review"
        ],
        "summary": "Report a Review",
        "description": "Report a Review ",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "review_id": {
                  "type": "string",
                  "example": "1"
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_UOFswA1y"
                },
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_4w4lwlu0"
                },
                "reason_id": {
                  "type": "string",
                  "example": "-1"
                },
                "other_reason": {
                  "type": "string",
                  "example": "abcdefgh ijkl"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Review Reported successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/cmn/get-country-data": {
      "get": {
        "tags": [
          "11.Common"
        ],
        "summary": "Get Country Data",
        "description": "Fetch Country Data From country.json",
        "responses": {
          "200": {
            "description": "Country data list fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/cmn/upload": {
      "post": {
        "tags": [
          "11.Common"
        ],
        "summary": "Upload Image | Video | PDF",
        "description": "Upload files to Server and return file details",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "type": "file",
            "required": true,
            "description": "File to upload (image, video, pdf)"
          },
          {
            "name": "category",
            "in": "formData",
            "type": "string",
            "required": true,
            "description": "File category",
            "enum": [
              "image",
              "video",
              "pdf",
              "docx"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File uploaded successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/cmn/get-uploads": {
      "post": {
        "tags": [
          "11.Common"
        ],
        "summary": "Get uploaded files fetched sucessfully",
        "description": "Get files fetched succesfully",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ids": {
                  "type": "string",
                  "example": "1,2"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/leads/get-tutor-leads": {
      "post": {
        "tags": [
          "12.Leads"
        ],
        "summary": "Get Leads",
        "description": "Get Leads",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                },
                "lead_id": {
                  "type": "string",
                  "example": "1"
                },
                "from_date": {
                  "type": "string",
                  "example": "2026-03-10"
                },
                "to_date": {
                  "type": "string",
                  "example": "2026-03-11"
                },
                "subject_name": {
                  "type": "string",
                  "example": "abc"
                },
                "locations": {
                  "type": "array",
                  "example": [
                    "abc",
                    "cbe",
                    "chen"
                  ],
                  "items": {
                    "type": "string"
                  }
                },
                "leads_type": {
                  "type": "string",
                  "example": "profile"
                },
                "page": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leads fetched successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/leads/update-leads-view-status": {
      "post": {
        "tags": [
          "12.Leads"
        ],
        "summary": "Update View Status In Leads",
        "description": "Update View Status for mobile view In Leads",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                },
                "student_id": {
                  "type": "string",
                  "example": "STUDENT_4Gy3VZ"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tutor set Mobile View Status successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/leads/get-leads-locations": {
      "post": {
        "tags": [
          "12.Leads"
        ],
        "summary": "Get Leads Locations count",
        "description": "Get Leads Locations count",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "tutor_id": {
                  "type": "string",
                  "example": "TUTOR_A2u50js3"
                },
                "page": {
                  "type": "number",
                  "example": 1
                },
                "from_date": {
                  "type": "string",
                  "example": "2026-04-03"
                },
                "to_date": {
                  "type": "string",
                  "example": "2026-04-04"
                },
                "search_subject": {
                  "type": "string",
                  "example": "tamil"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Leads Locations count sucessfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/api/leads/update-read-status": {
      "post": {
        "tags": [
          "12.Leads"
        ],
        "summary": "Update Read Status In Leads",
        "description": "Update Read Status for mobile view In Leads",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "lead_id": {
                  "type": "number",
                  "example": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tutor set card read Status successfully"
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    }
  }
}